.hero {
  position: relative;
  background: #fff;
  overflow: hidden;
  padding-left: 60px;
  /* padding-top: 1px; */
  height: 100vh;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 140px;
  z-index: 1;
}

.hero-inner {
  position: relative; /*---*/
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero-copy {
  width: 586px;
  height: 350px;
  color: #383838;
  margin-top: 100px;
}

.hero-eyebrow {
  margin: 0 0 -14px 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 280%;
}

.hero-title {
  margin: 0 0 0 0;
  font-weight: 800;
  font-size: 82px;
  line-height: 129%;
  letter-spacing: -0.05em;
  color: #383838;
  margin-left: -4px;
}

.hero-title .accent {
  color: #f1214f;
}

.hero-subtitle {
  margin: 0 0 0px 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 129%;
  letter-spacing: -0.08em;
  color: #383838;
}

.hero-caption {
  margin: 0 0 8px 0;

  font-weight: 500;
  font-size: 22px;
  line-height: 129%;
  letter-spacing: -0.08em;
  color: #383838;
}

.hero-cta {
  width: 170px;
  height: 49px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  margin-top: 20px;
  border-radius: 2px;
  background: #f1214f;
  color: #fff;
  cursor: pointer;
  font-family: "Circular Std", Inter, Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 129%;
  letter-spacing: -0.05em;
}

.hero-cta:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(241, 33, 79, 0.25);
}

/* .hero-art {
  position: absolute;
  top: 20px;
  right: 40px;
  /* right: 40px; */
/* left: 730px; */
/* bottom: 110px; */

/* width: clamp(420px, 40vw, 620px); */
/* } */

/* .hero-art img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
} */
.hero {
  height: 100%;
}

.hero-art {
  position: absolute;
  right: clamp(24px, 16vw, 240px);
  height: calc(100vh - 28px - 140px);
  /* width: clamp(420px, 40vw, 620px); */
  width: 35%;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.hero-art img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: contain;
}
